<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciusyan.crm.mapper.CategoryMapper">

    <resultMap id="rmCategoryTree" type="CategoryDto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent_id" property="parentId"/>
        <collection property="children" ofType="CategoryDto">
            <id column="ch_id" property="id"/>
            <result column="ch_name" property="name"/>
            <result column="ch_parent_id" property="parentId"/>
        </collection>
    </resultMap>

    <select id="selectCategoryTree" resultMap="rmCategoryTree">
        SELECT
            p.id,
            p.name,
            p.parent_id,
            ch.id ch_id,
            ch.name ch_name,
            ch.parent_id ch_parent_id
        FROM category p JOIN  category ch on p.id = ch.parent_id
            ${ew.customSqlSegment}
    </select>

</mapper>