<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ciusyan.crm.mapper.UserMapper">

    <resultMap id="rmUsers" type="UserVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nickname" property="nickname"/>
        <result column="cellphone" property="cellphone"/>
<!--        <result column="created_time" property="createdTime"/>-->
<!--        <result column="update_time" property="updateTime"/>-->
        <result column="enable" property="enable" />

        <result column="role_id" property="roleId"/>
        <result column="department_id" property="departmentId"/>
    </resultMap>

    <select id="selectPageVos" resultMap="rmUsers">
        select u.id,
               u.name,
               u.nickname,
               u.cellphone,
               u.enable,
               ur.role_id role_id,
               d.id department_id
        from `user` u
                 JOIN user_role ur ON u.id = ur.user_id
                 JOIN `department` d ON d.id = u.department_id
            ${ew.customSqlSegment}
    </select>

</mapper>